{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}
<header
  class="masthead"
  style="background-image: url('../static/assets/img/calory-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
            {% if is_check %}
            <h1>Well Done💪💪👊!</h1>
          <span class="subheading">Here are the results</span>

          <p>Exercise done: {{ data["user_input"] }}<br>
          Approximate time spent in minutes: {{ data["duration_min"] }}<br>
          Calories burned in kcal: {{ data["nf_calories"] }}<br></p>
            {% else %}
          <h1>Monitor Calories</h1>
            <span class="subheading">Enter your details in the form below 👇🏾!</span>
             {% endif %}


        </div>
      </div>
    </div>
  </div>
</header>
<main class="mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{render_form(form)}}
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
{% endblock %}