{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}
<header class="px-3 masthead"
        style="background-image: url('../static/assets/img/home-bg.jpg')"
  >
    <h1 class="page-heading">Register Now!</h1>
    <span class="subheading">Start tracking your calories based on the exercise you do!</span>
</header>

<main class="mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{render_form(form)}}
            </div>
        </div>
    </div>
</main>
{% include "footer.html" %}